---
import Layout from '../layouts/Layout.astro';
import Log from '../components/Login.jsx';
---

<Layout title="LogIn">
    
    <p class="text-white">Holitas Perros</p>
    <Log client:visible/> 

</Layout>